@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

@page {
    size: 130mm 198mm;
    margin: 20mm 14mm 16mm;
}

@page chapter {
    @bottom-center {
        font: 10pt 'Crimson Text', serif;
        content: counter(page);
        vertical-align: top;
        padding-top: 0.5em;
    }
}

html {
    font: 10pt 'Crimson Text', serif;
    text-replace: "'" "\2019";
    hyphens: auto;
    counter-reset: chapter;
}

html, body, div, h1, h2, h3, h4, p, blockquote, ul, ol, li {
    margin: 0; padding: 0;
}

h1, h2, h3, h4 { margin: 1em 0 0.6em; font-family: 'Crimson Text', serif; font-weight: normal; text-align: center; }
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.2em }
h4 { font-size: 1em }

a { color: black; text-decoration: none }

blockquote { font-style: italic; margin: 1em }

li { margin-left: 2em }

p { text-align: justify }

p + p { text-indent: 1.3em }

hr {
    width: 3em;
    margin: 1em auto;
    border: none;
    border-top: thin solid black;
}

h1 {
    font: 2em 'Crimson Text', Bergamo;
    text-align: center;
}

section.titlepage, section.toc, section.chapter { page-break-before: always }

/* titlepage */

section.titlepage {
    padding-top: 3em;
    text-align: center;
}

/* toc */

/* the table of contents (toc) is formatted as a table so that page
   numbers appears in a column of their own on the right side.
*/

#toc-container { display: table; width: 100% }

.toc a {
    counter-increment: chapter-toc;
    display: table-row;
    text-align: left;
}

.toc a span {
    padding-top: 1em;
    display: table-cell;
    page-break-inside: avoid;
}

.toc a span:after {
    content: leader(".");
}

.toc a:after {
    content: target-counter(attr(href), page);
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
}

/* chapter */

section.first.chapter {
    counter-reset: page 1;
}

section.chapter {
    page: chapter;
}

q { quotes: "\2018" "\2019" "\201C" "\201D" }

h3:before {
    display: block;
    content: "Chapter " counter(chapter, upper-roman);
    font-style: italic;
    font-size: 1.2em;
    text-align: center;
    margin: 0.3em 0;
}

h3 {
    counter-increment: chapter;
    padding-left: 2em;
    text-indent: -1em;
}

section.colophon pre { font-size: 7pt }

@media print {
    q:before { content: "\2018" }
    q:after { content: "\2019" }
    q q:before { content: "\201C" }
    q q:after { content: "\201D" }
}

@media screen {
    html { background: black; font-size: 20px }
    body { background: white; width: 30em; margin: 3em auto; padding: 2em; }
    section.toc, section.chapter { border-top: thin solid black; padding-top: 1.5em; margin-top: 1.5em }
}